.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  /* identical to box height, or 117% */
  color: white;
  text-decoration-line: none;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 426px) and (max-width: 479px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
