.places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  justify-items: center;
  width: 77%;
  margin: 0 auto 92px;
  gap: 80px;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: 93.75%;
    margin-bottom: 90px;
    gap: 73px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .places {
    margin-bottom: 66px;
    gap: 50px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 100%;
  }
}
