.header {
  display: -ms-grid;
  display: grid;
  margin: 28px auto 56px;
  width: 92.5%;
  -ms-grid-columns: 1fr 18px auto 18px auto;
  grid-template-columns: 1fr auto auto;
  gap: 18px;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-bottom: 48px;
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 93.75%;
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 16px;
  }
}
