/*normalize*/
@import url(../vendor/normalize.css);

/*page*/
@import url(../blocks/page/page.css);

@font-face {
  src: url(../fonts/Inter-Regular.woff) format("woff"),
    url(../fonts/Inter-Regular.woff2) format("woff2");
  font-family: "Inter";
  font-style: normal;
}

@font-face {
  src: url(../fonts/Inter-Bold.woff) format("woff"),
    url(../fonts/Inter-Bold.woff2) format("woff2");
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
}

.header {
  display: grid;
  margin: 28px auto 56px;
  width: 92.5%;
  grid-template-columns: 1fr auto auto;
  gap: 18px;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  /* identical to box height, or 117% */
  color: white;
  align-self: flex-end;
}

.lead {
  display: flex;
  width: 77%;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 auto 92px;
  text-align: center;
}

.lead__title {
  width: 73%;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 1.04;
  /* or 104% */
  margin: 0;
}

.lead__subtitle {
  width: 65%;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  /* or 120% */
  text-align: center;
  margin: 32px 0 64px;
}

.lead__image {
  object-fit: contain;
  width: 100%;
}

.lead__caption {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 8px 0 0;
  align-self: flex-start;
}

.intro {
  display: flex;
  width: 77%;
  margin: 0 auto 92px;
  flex-flow: column nowrap;
}

.intro__title {
  width: 71%;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 1.07;
  /* identical to box height, or 107% */
  margin: 0;
}

.intro__text {
  width: 71%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin: 40px 0 33px;
}

.intro__list {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  /* or 150% */
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-grid {
  display: grid;
  width: 92.5%;
  margin: 0 auto 92px;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
  gap: 16px;
  padding: 0;
  list-style: none;
}

.photo-grid__item {
  min-width: 284px;
  min-height: 213px;
  background-size: cover;
}

.photo-grid__item:nth-of-type(1) {
  background-image: url(../images/photo-grid-item_01.jpg);
}

.photo-grid__item:nth-of-type(2) {
  background-image: url(../images/photo-grid-item_02.jpg);
}

.photo-grid__item:nth-of-type(3) {
  background-image: url(../images/photo-grid-item_03.jpg);
}

.photo-grid__item:nth-of-type(4) {
  background-image: url(../images/photo-grid-item_04.jpg);
}

.photo-grid__item:nth-of-type(5) {
  background-image: url(../images/photo-grid-item_05.jpg);
}

.photo-grid__item:nth-of-type(6) {
  background-image: url(../images/photo-grid-item_06.jpg);
}
.photo-grid__item:nth-of-type(7) {
  background-image: url(../images/photo-grid-item_07.jpg);
}

.photo-grid__item:nth-of-type(8) {
  background-image: url(../images/photo-grid-item_08.jpg);
}

.photo-grid__item:nth-of-type(9) {
  background-image: url(../images/photo-grid-item_09.jpg);
}
.photo-grid__item:nth-of-type(10) {
  background-image: url(../images/photo-grid-item_10.jpg);
}

.photo-grid__item:nth-of-type(11) {
  background-image: url(../images/photo-grid-item_11.jpg);
}

.photo-grid__item:nth-of-type(12) {
  background-image: url(../images/photo-grid-item_12.jpg);
}

.places {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto 92px;
  width: 77%;
  gap: 80px;
  padding: 0;
  list-style: none;
}

.place {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  align-content: stretch;
  align-items: start;
  gap: 48px 40px;
}

.place__title {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 1.06;
  /* or 106% */
  margin: 0;
  padding: 0;
}

.place__image {
  min-width: 300px;
  min-height: 300px;
  width: 100%;
  object-fit: cover;
}

.place__website {
  align-self: end;
}

.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  /* identical to box height, or 100% */
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 0 0 12px;
  padding: 0;
}

.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  /* identical to box height, or 122% */
  text-decoration-line: underline;
  color: #ffffff;
}

.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  /* or 29px */
  margin: 0 0 26px;
  padding: 0;
}

.place__paragraph:last-of-type {
  margin: 0;
}

.cover {
  position: relative;
  display: block;
  width: 92.5%;
  margin: 0 auto 92px;
}

.cover__wrap {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover__title {
  width: 47%;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 1.06;
  /* or 106% */
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 3;
}

.cover__subtitle {
  width: 32%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  /* or 122% */
  text-align: center;
  margin: 32px 0 0;
  z-index: 3;
}

.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2c2f;
  opacity: 0.3;
  z-index: 2;
}

.cover__background {
  display: block;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.footer {
  width: 92.5%;
  margin: 0 auto 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  /* identical to box height, or 112% */
  text-decoration: none;
  color: white;
}

.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  /* identical to box height, or 114% */
  margin: 0;
}

@media screen and (min-width: 840px) and (max-width: 1024px) {
  .header {
    margin: 28px auto 48px;
    width: 90.625%;
  }
  .lead {
    width: 90.625%;
  }
  .intro {
    width: 90.625%;
  }
  .photo-grid {
    width: 90.625%;
  }
  .places {
    width: 90.625%;
  }
  .place {
    gap: 48px 32px;
  }
  .cover {
    width: 100%;
  }
  .footer {
    width: 90.625%;
  }
}


