.place {
  display: grid;
  display: -ms-grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 1fr);
  justify-content: stretch;
  align-content: stretch;
  align-items: start;
  gap: 48px 40px;
  -ms-grid-rows: auto 48px auto;
  -ms-grid-columns: 1fr 40px 1fr;
  -ms-flex-line-pack: stretch;
  -webkit-box-align: start;
  -ms-flex-align: start;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 600px) {
  .place {
    -ms-grid-rows: auto 32px auto 32px auto 32px auto;
    grid-template-rows: repeat(4, auto);
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: stretch;
    grid-row-gap: 32px;
    grid-column-gap: 0;
  }
}

  @media screen and (max-width: 320px) {
    .place {
      justify-items: center;
    }
  }
