.place {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 48px auto;
  grid-template-rows: repeat(2, auto);
  -ms-grid-columns: 460px 40px 1fr;
  grid-template-columns: 460px 1fr;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    -ms-grid-columns: 440px 32px 1fr;
    grid-template-columns: 440px 1fr;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 900px) {
  .place {
    -ms-grid-columns: 1fr 28px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    -ms-grid-columns: 340px 1fr;
    grid-template-columns: 340px 1fr;
  }
}

@media screen and (max-width: 600px) {
  .place {
    -ms-grid-rows: auto 32px auto 32px auto 32px auto;
    grid-template-rows: repeat(4, auto);
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: stretch;
    grid-row-gap: 32px;
    grid-column-gap: 0;
  }
}

@media screen and (max-width: 320px) {
  .place {
    justify-items: center;
  }
}
